/* src/components/Footer.css */
footer {
  background-color: white; /* Fondo oscuro */
  color: #eb6f09; /* Texto blanco */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centrar texto */
  font-size: 1.5em; /* Tamaño del texto */
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2); /* Sombra superior */
  border-top: 3px solid #eb6f09; /* Línea superior */
  margin-top: auto; /* Empuja el footer hacia abajo */
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
