body{
    background: #eeedec;
}

.navbar{
  min-height: 33px;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}

/*twbs color*/
.navbar {
  background-color: rgba(235, 111, 9);
}
.navbar .navbar-brand {
  color: #ecf8fb;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}
.navbar .navbar-text {
  color: #ecf8fb;
}
.navbar .navbar-text a {
  color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffffff; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf8fb;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
  background-color: #ab5226;
}
.navbar .navbar-toggler {
  border-color: #ab5226;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: #ab5226;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  color: #ecf8fb;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf8fb;
}
.navbar .navbar-link {
  color: #ecf8fb;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf8fb;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #ab5226;
  }
}

/*Estilos persoanlizados*/

#header{
  background: #282828;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .crear{
  padding-top: 20px;

}

.color-principal, .panel-default > .panel-heading{
  background-color: rgba(235, 111, 9) !important;
  border-color: rgba(235, 111, 9) !important;
  color: #fff !important;
}

a {
  color: #0c0c0c;
  text-decoration: none;
}

.h1, h1 {
  font-size: 36px;
  color: #ecf8fb;
}


.h2,h2 {
  font-size: 30px;
  color: black;
}

.barra-progreso{
  background: #333333;
  color: #fff;
}

#footer{
  background: #282828;
  color: #fff;
  text-align: center;
  padding: 22px;
  margin-top: 352px;

}

/*media queries*/

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf8fb;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #ab5226;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf8fb;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #ab5226;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf8fb;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #ab5226;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf8fb;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #ab5226;
}