section {
    display: block;
}
  
*, ::after, ::before {
    box-sizing: border-box;
}

/* Start Admin Banner css */

.admin-banner-wrapper-one{
    position: relative;
    z-index: 1;
    padding: 220px 0 0;
}

.admin-banner-wrapper-one:after, .admin-banner-wrapper-one:before {
    position: absolute;
    top: 0;
    content: '';
    height: 110%;
  }

.admin-banner-wrapper-one:after {
    width: 43.5%;
    right: 0;
    background-color: #ff7c0a;
    background-size: cover;
}

.admin-banner-wrapper-one:before {
    width: 56.5%;
    left: 0;
    background-color: #ff7c0a;
    background-size: cover;
}

/* End Admin Banner css */

.admin-sidebar {
 width: 240px;
 background-color: #161316;
 color: #fff;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px;
}

.admin-nav ul {
    list-style: none;
    padding: 0;
}

.admin-nav ul li {
    margin-bottom: 30px;
}

.admin-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.admin-nav ul li a:hover {
    color: #ff7c0a;
}


.admin-section {
    position: relative;
    z-index: 1;
    padding: 50px 0 0;
    margin-bottom: 40px;
}

.productos-content {
    display: flex;
    flex-direction: row;
}

.product-form {
    width: 300px;
    margin: 20px;
    justify-content: center;
}

.product-form, .user-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-form h2 {
    margin: 0 5
}

.product-form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background: #e9e9e9;
    height: 20px;
    color: var(--black-color);
    font-weight: 400;
    font-size: 16px;
    transition: box-shadow 0.3s;
}

.product-form button {
    justify-content: center;
}

.save-btn, .cancel-btn, .edit-btn, .remove-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn {
    background-color: #ff7c0a;
    color: #fff;
}

.cancel-btn {
    background-color: #161316;
    color: #fff;
}

.save-btn:hover {
    background-color: #161316;
}

.cancel-btn:hover {
    color: #dd2727;
}

.product-list, .user-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.user-list {
    width: 100%;
}

.product-item, .user-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-actions {
    display: flex;
    gap: 10px;
}

.edit-btn {
    background-color: #ff7c0a;
    color: #fff;
}

.remove-btn {
    background-color: #161316;
    color: #fff;
}
  
.edit-btn:hover {
    background-color: #161316;
}
  
.remove-btn:hover {
    color: #dd2727;
}