<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>

    <!-- CSS -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section class="header">
        <div class="header rcHn2">
            <div class="ferrementum-logo">
                <img src="images\Logo 0.3.svg" alt="" class="svg-sc-0002 frLgh">
            </div>
        </div>
    </section>

    <section class="Page__Body-sc-3baZ-3 iGiiyc">
        <div class="PageWrapper-sc-avs10m-0 ccKuQI">
            <h1 class="Type__TypeElement-goli3j-0 iUssHT PageHeading-sc-17opd0n-0 cKWMNS">Restablecimiento de Contraseña</h1>
            <p class="Type__TypeElement-goli3j-0 cFabKD CenteredParagraph-sc-1ts3lrl-0 eDRcqt">
                Introduzca su <b>nombre de usuario</b>, o la dirección de <b>correo electrónico</b>
                que utilizó para registrarse. Te enviaremos un correo electrónico con tu nombre de usuario 
                y un enlace para restablecer tu contraseña.
            </p>
            <form>
                <div class="Group-u9bcx5-0 koDeqb">
                    <div class="LabelGroup-sc-1ibddrg-0 eiOToC">
                        <label for="email_or_username" class="Label-sc-1c0cv3r-0 ezvJUn">
                            <span class="LabelInner-sc-19pye2k-0 cCagTa">Dirección de correo electrónico o nombre de usuario</span>
                        </label>
                    </div>
                    <input aria-invalid="false" id="email_or_username" name="email_or_username" placeholder="correo electrónico o nombre de usuario" autocapitalize="off" class="Input-sc-1gbx9xe-0 ekgyrN">
                </div>
                <div class="Group-u9bcx5-0 koDeqb CenteredFormGroup-sc-ush13l-0 hSGTGO">
                    <button class="Button-qlcn5g-0 ehLhLY">
                        <div class="ButtonInner-sc-14ud5tc-0 eOmOwu encore-bright-accent-set">Enviar</div>
                    </button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>