/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Colores */
:root {
    --primary-color: #f7a60f;
    --secondary-color: #f5f5f5;
    --black-color: #1f1f1f;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Navbar */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 107px;
    padding: 0 20px;
    background-color: #fff;
    color: #000;
    z-index: 1000;
}

.navbar-logo {
    width: 60px;
}

.navbar-logo img {
    height: 50px;
    width: 50px;
    max-height: 100%;
}

.page-name {
    text-transform: uppercase;
    color: var(--primary-color);
    margin: 0px 100px 0px 0px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0 100px 0 100px;
}

.search-bar input {
    width: 360px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 0 10px;
    margin-right: 10px;
}

.search-bar button {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 20px 0 100px;
}

.btn-acceso {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.btn-acceso:hover {
    color: var(--primary-color)
}


/* Estilo general de la página */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 107px;
    background: linear-gradient(to left, #f8b538, rgb(250, 191, 81));
    font-family: 'Poppins', sans-serif;
}

/* Estilo del formulario */

form {
    margin-top: 10px;
}

.form {
    max-width: 800px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* margin: 20px; */
    box-sizing: border-box;
}

.form .acceso .field {
    position: relative;
    height: 50px;
    width: 100%;
    max-width: 860px;
    margin: 15px 15px;
    /* margin-top: 20px; */
}

.eye-icon {
    position: absolute;
    align-items: center;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px; 
    color: #838383;
    cursor: pointer;
    padding: 5px;
}


.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input-field {
    width: calc(50% - 5px);
    margin-bottom: 15px;
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: var(--black-color);
}

input {
    width: 100%;
    padding: 25px 15px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background: #e9e9e9;
    height: 20px;
    color: var(--black-color);
    font-weight: 400;
    font-size: 16px;
    transition: box-shadow 0.3s;
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


/* Estilo del header */
header {
    color: var(--black-color);
    font-size: 28px;
    font-weight: 600;
    text-align: left;
}


/* Estilo del dropdown */
.dropdown {
    min-width: 15em;
    position: relative;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #e9e9e9;
    color: var(--black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #f5f5f5 solid;
    border-radius: 8px;
    padding: 0 15px;
    cursor: pointer;
    transition: background 0.3s;
    height: 50px;
    margin: 4px 0;
}

.select-clicked {
    border: 2px #f7a60f solid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.select:hover {
    background: #ecebeb;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #e9e9e9;
    border: 2px #e9e9e9 solid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    color: #1F1F1F;
    position: absolute;
    top: 4em;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 3;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 8px;
    cursor: pointer;
}

.menu li:hover {
    background: #f8dfc3;
}

.selected {
    background: transparent;
}

.menu-open {
    display: block;
    opacity: 1;
}

/* Estilo para el campo de contraseña y confirmación */
.field.password-field {
    display: flex;
    flex-direction: column;
}

.confirmPassword-label {
    margin-top: 10px;
}

/* Estilo del botón */
.button-field {
    text-align: center;
}

button {
    background-color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
    color: var(--black-color);
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
    width: 100%;
    height: 50px;
    display: block;
    margin: 0 auto;
}

button:hover {
    transform: scale(1.02);
}

.form-link {
    text-align: initial;
    margin-top: 10px;
}

/* Agrega estilos al componente Link */
.link-style {
    color: #cc8707;
    text-decoration: none;
}

/* Agrega estilos al componente Link al hacer hover */
.link-style:hover {
    text-decoration: underline;
}

@media screen and (max-width:400px) {
    .form {
        padding: 15px 10px;
    }
}

@media (max-width:500px) {
    .form {
        overflow-y: scroll;
    }

    .form.registro::-webkit-scrollbar {
        display: none;
    }

    .form.registro .fields .input-field {
        width: 100%;
    }
}
